//
@import 'partials/_variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}

a {
    text-decoration: none;
}
header {
    background-color: white;
    text-align: center;
    .main-menu {
        list-style: none;
        li {
            display: inline-block;
            a {
                font-size: 20px;
                padding: 0 20px;
                color: $link_color;
                background-color: cyan;
            }
        }
    }
}
